<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node App</title>
</head>
<body>
    <button id="btn">Click</button>
    <script>
        console.log('Client-side code running');

        const button = document.getElementById('btn');
        button.addEventListener('click', function(e) {
        console.log('button was clicked');

        fetch('/a', {method: 'GET'})
            .then(function(response) {
            if(response.ok) {
                console.log('Click was recorded');
                return;
            }
            throw new Error('Request failed.');
            })
            .catch(function(error) {
            console.log(error);
            });
        });
    </script>
    <h1>{{ userNumber }}</h1>
</body>
</html>